
#pagina2 {
    background: #bbbbbb; /* Cor do fundo do cabeçalho*/
    padding: 20px 0;
}


#caixa {
    position: relative; /* Coloca a 'nav dentro da caixa'*/
    width: 940px; /*Espaço da pagina ocupado*/
    margin: 0 auto;/* para cima e para baixo '0' e as laterais automáticas
    fazendo com que as margens se calculem automaticamente, ou seja
    delegamos para o navegador calcular a largura que resta, dividir por dois,
    e adicionar metade em um dos lados*/
}

nav {
    position: absolute; /*Significa que a posição do elemento está destacada, está solta
    podendo posicionar em qualquer lugar da página*/
    top: 110px; /* para centralizar. Devido a imagem ter 240px de altura*/
    right: 0;
}

nav li {
    display: inline; /* Coloca todos ITENS da lista na MESMA LINHA*/
    margin: 0 0 0 15px; /* cima, baixo, direita e esquerda
    neste caso cria uma margem apenas a esquerda entre os itens da lista*/
}

nav a {
    text-transform: uppercase; /* Coloca o texto em letras MAIÚSCULAS*/
    color: black; /* Cor da fonte*/
    font-weight: bold; /*Peso da fonte - NEGRITO*/
    font-size: 22px;
    text-decoration: none; /* Neste caso OCULTA o SUBLINHADO do texto*/
}

nav a:hover { /* isto é, quando o mouse estiver por cima do menu (links)*/
    color: #c78c19;
    text-decoration: underline; /*Sublinha*/
}

.produtos { /* Para ter o mesmo formato que a CAIXA*/
    width: 940px;
    margin: 0 auto;
    padding: 50px 0; /*Espaçamento interno do bloco, fazendo com que se distancie um pouco do cabeçalho*/
}


.produtos li { /* cada item da lista*/
    display: inline-block; /* faz com que seja usado apenas o próprio espaço
    liberando o restante do bloco, para termos um item do lado do outro*/
    width: 30%; /* isto é, cada item ocupará 30% da página */
    text-align: center; /* Texto alinho ao centro do item*/
    vertical-align: top; /* texto alinhado através do seu topo*/
    margin: 0 1.5%; /* Somando total de 3% por item, somados aos 30% de de cada item
    ocupa 99% da página...deixando os itens centralizados na página */
    padding: 30px 20px;
    box-sizing: border-box; /*Com isso. o espaçamento do padding, fica dentro dos 30% de cada item
    ou seja, o padding tem efeito para dentro desses 30%(Width)*/
    border: 2px solid black; /*Configuração da borda do item. TAMANHO, TIPO E COR*/
    border-radius: 20px; /*Arredonda as pontas da borda*/
   
}

.produtos h2 {
    font-size: 30px; /*Tamanho da fonte*/
    font-weight: bold; /*Negrito*/
}


.produtos li:hover { /* isto é, quando o mouse estiver por cima do item*/
    border-color: #c78c19;
}

.produtos li:hover h2 { /* Isto é, Quando passar o mouse pelo item, o texto em 'h2' aumenta a fonte*/
    font-size: 35px;
} 

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px; /*Distancia da descrição, ou seja, cria um espaço somente no topo*/
} 

footer{
    text-align: center;
    background: url("bg.jpg"); /*coloca imagem no fundo. 
    OBS: A PODE SER PEQUENA, POIS O CSS REPLICA ATÉ PREENCHER A LARGURA*/
    padding: 40px; /*espaçamento interno do rodapé*/
}

.copyright {
    color: #ffffff;
    
}

.formulario{
    width: 940px;
    margin: 0 auto; /* (cima e baixo) (Esquerda e direita)*/
}

form {
    margin: 40px 0; /* Ouseja, margem entre o formulário e o cabeçalho e formulário e rodapé*/ 
}

/*Desta forma tbm conseguimos estilizar duas tags diferentes ao mesmo tempo*/
form label, form legend {
    display: block;/*Faz com que o próximo conteúdo va para linha debaixo*/
    font-size: 20px;
    margin-bottom: 10px;
}

/*Está classe foi criada para executar esse estilo apenas nos inputs comuns
pois, está configuração desconfigura os inputs do tipo RADIO E CHECKBOX(linhas 49,50,51 e 61
eles precisam ter o DISPLAY INLINE, de forma que não ocupe o espaço da linha inteira*/
.input-padrao { 
     display: block;
     margin-bottom: 20px; 
     padding: 15px 10px; /* (cima e baixo) (Esquerda e direita)*/
     width: 50%;
}

#checkbox{
    margin: 20px 0; /* (cima e baixo) (Esquerda e direita)*/
}

#enviar {
    width: 20%; /* Largura da página*/
    margin-top: 20px; /*Espaçamento superior*/
    padding: 15px 0; /*Espaçamento interno*/
    background: orange; /*Cor do fundo*/
    color: white; /*Cor da fonte*/
    font-size: 18px; /*Tamanho da fonte*/
    font-weight: bold; /*Negrito*/
    border: none; /* Sem borda marcada*/
    border-radius: 5px; /* Bordas arredondadas da caixa*/
    transition: 1s background; /*Neste caso, trata-se da TRANSIÇÃO de um evento com mouse
    fazendo com que ao passar o mouse por cima, altere a cor de fundo com um tempo de 1 segundo*/
}

#enviar:hover { /* Quando o mouse estiver em cima*/
    background: darkorange;
    transform: scale(1.2);/* (Escala)Essa propriedade faz com que seja aumentado em 20% proporcionalmente
    como se fosse um zoom*/
}

table{
    margin: 40px 0; /* (cima e baixo) (Esquerda e direita)*/
}

thead{
    background: #555;
    color: white;
    font-weight: bold;
    font: 20px;

}

td, th{ /* Células*/
    border: 1px solid black;
    padding: 8px 15px; /* (cima e baixo) (Esquerda e direita)*/

}